.env
terraform/infra/terraform.tfvars
terraform/infra/.terraform
terraform/infra/.terraform.lock.hcl
terraform/infra/terraform.tfstate
terraform/infra/terraform.tfstate.backup

terraform/backend/terraform.tfvars
terraform/backend/.terraform
terraform/backend/.terraform.lock.hcl
terraform/backend/terraform.tfstate
terraform/backend/terraform.tfstate.backup

vault/vault/data/

vault/vault/*.lock
vault/vault/tls/